#project_show
	%h2.title= @project.title
	%p.content= simple_format(@project.content)


	.buttons
		- if model_id = current_model
			= link_to "Edit", edit_project_path(@project), class: "button"
			= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, class: "button"
			= link_to "Back", projects_path, class: "button"


