%h1 Show page - individual project pages


%h2= @project.title
%p= @project.content



- if model_id = current_model
	= link_to "Edit", edit_project_path(@project)
	= link_to "Delete", project_path(@project), method: :delete, date: { confirm: "Are you sure?"}
	= link_to "Back", projects_path

